<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Bem-vindo, {{ nome }}!</h1>
            <p class="user-info">Seu e-mail: <span>{{ email }}</span></p>
        </div>
        <div class="footer">
            <a href="/logout" class="logout-button">Sair</a>
        </div>
    </div>
</body>
</html>
